.home {
  width: 100%;
}

.content_picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content_picture figure {
  filter: blur(4px);
}

.content_picture img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content_home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title_principal {
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 1rem auto 5rem auto;
  font-family: "Source Sans Pro", sans-serif;
}

.title_principal h1 {
  color: #cd24b7;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.title_principal p {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 1281px) {
  .title_principal h1 {
    color: #cd24b7;

    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .title_principal p {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    display: block;
    height: 100vh;
    overflow: hidden;
  }

  .content_home {
    padding: 0;
    height: 100vh;
  }

  .content_picture {
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
  }
  .content_picture img {
    filter: blur(2px);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content_picture figure {
    width: 100%;
    height: 100vh;
  }

  .title_principal {
    position: relative;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
  }

  .title_principal h1 {
    font-size: 3rem;
  }

  .categoria {
    margin-top: 1rem;
    display: block;
  }
}
